* {
  font-family: monospace, sans-serif;
}

ul {
    list-style-type: none;
}

.todo-list {
	margin-bottom: 0.7em;
	line-height: 90%;
}

.task-item-div {
	margin-bottom: 0.4em;
}

.edit-task-button {
	float: right;
}

.task-checkbox {
	margin-right: 2em;
	margin-left: 0.5em;
	
  border-color: #c0c0c0 #ccc #d8d8d8;
  background: #fdfcfc url("../img/sprite.png") 2px 2px no-repeat;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.task-item {
}

.task-item form {
	display: inline;
}

.task-submit {
	vertical-align: 5px!important;
    margin-left: 1px!important;
    margin-right: 20px!important;
	
}

#title {
	text-align: center;
}

h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0;
}

.error {
	color: red;
}

.todo-form {
	margin: 1.2em 0 1em 1em
}

.task {
	width: 240px;
	border:none!important
}

input {
    font-size: 14px;
}

body {
  
  font-family: monospace, sans-serif;
  color: #454141;
  background: #f8f8f8
}

.container {
  width: 350px;
  padding: 0;
}
.container .todo {
  margin: 0 auto;
  padding: 0;
}

.todo {
  position: relative;
  width: 350px;
  background: white;
  border: 2px dashed;
  border-color: #2184ac;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.todo:before, .todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: white;
  border: 1px dashed #ccc;
  border-radius: 2px;
}
.todo:after {
  bottom: -3px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.todo:before {
  bottom: -5px;
  left: 2px;
  right: 2px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.lt-ie9 .todo:before, .lt-ie9 .todo:after {
  height: 1px;
  border-top: 0;
}


.todo-list {
  border-top: 2px dashed #2184ac;
  list-style: none;
}
.todo-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  width: 3px;
  z-index: 2;
  /*border: 1px solid #f2e3df;*/
  border-width: 0 1px;
}
.todo-list li {
  position: relative;
  padding: 7px 15px 7px 5px;
  line-height: 21px;
  font-size: 13px;
  color: #787a80;
  border-bottom: 1px dashed #e6ebed;
}
.todo-list .toggle {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}
.todo-list .toggle:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}
.todo-list .toggle:hover:before {
  -webkit-box-shadow: 0 0 3px #6bb3ca;
  box-shadow: 0 0 3px #6bb3ca;
}
.todo-list .done .toggle:before, .todo-list .toggle:active:before {
  border-color: #c0c0c0 #ccc #d8d8d8;
  background: #fdfcfc url("../img/sprite.png") 2px 2px no-repeat;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.task {
  background: white;
  color: #787a80;
  font-size: 13px;
  padding: 3px 6px;
  margin-left: -6px;
  border: 1px solid;
  border-color: #c0c0c0 #ccc #d8d8d8;
  border-radius: 2px;
}
.task:focus {
    outline: none !important;
    //box-shadow: 0 0 15px #d8d8d8;
}

.todo-controls {
	position: absolute;
	top:-12px;
	padding:10px 0 0 12px;
	//width: 300px;
}
.todo-controls li {
float:left;
}
.todo-controls li.right {
float: right;
}
.todo-controls a {
  display: block;
  margin: 0;
  opacity: .6;
}
.todo-controls a:hover {
  opacity: 1;
}

.todo-pagination {
  margin: 12px 12px 0 50px;
  height: 22px;
}
.todo-pagination li {
  float: left;
}
.todo-pagination .next {
  float: right;
}
.todo-pagination .next i {
  margin: 0 0 0 2px;
}
.todo-pagination a, .todo-pagination span, .add-task-button {
  display: block;
  line-height: 22px;
  font-size: 12px;
  color: #676f7f;
}
.todo-pagination a, .add-task-button {
  padding: 0 8px;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #f1f0f0;
  border-radius: 3px;
  border:none;
}
.todo-pagination a:hover, .add-task-button:hover {
  background: #e9e9e9;
}
.todo-pagination span {
  padding: 0 4px;
  opacity: .3;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  vertical-align: -2px;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  cursor:pointer;
    border: none;

  opacity: .6;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  opacity: 1;
}

.icon-check {
  background-position: 0 0;
}

.icon-add {
  background-position: -8px 0;
}

.icon-delete {
  background-position: -24px 0;
}

.icon-settings {
  background-position: -36px 0;
}

.icon-previous {
  background-position: -48px 0;
}

.icon-next {
  background-position: -60px 0;
}

