/* global font */
* {
  font-family: monospace, sans-serif;
}

/* unordered list */
ul {
  list-style-type: none;
}

/* reminder list */
.todo-list {
  margin-bottom: 0.7em;
  line-height: 90%;
}

/* task to do  */
.task-item-div {
  margin-bottom: 0.4em;
}

/* edit button */
.edit-task-button {
  float: right;
}

/* checkbox for task to do */
.task-checkbox {
  margin-right: 2em;
  margin-left: 0.5em;

  border-color: #b9d3ee #cae1ff #d8d8d8;
  background: #8edff5 url('../img/sprite.png') 2px 2px no-repeat;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05),
    inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05),
    inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

/* form style */
.task-item form {
  display: inline;
}

/* submitted task */
.task-submit {
  vertical-align: 5px !important;
  margin-left: 1px !important;
  margin-right: 20px !important;
}

/* extension title */
#title {
  text-align: center;
}

/* extension sub title */
h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0;
}

/* error message */
.error {
  color: red;
}

/* to do list  */
.todo-form {
  margin: 1.2em 0 1em 1em;
}

/* task list */
.task {
  width: 240px;
  border: none !important;
}

/* input bar */
input {
  font-size: 14px;
    border-radius: 5px;

}

/* reminder body */
body {
  font-family: monospace, sans-serif;
  color: #454141;
  background: #f8f8f8;
}

/* reminder container */
.container {
  width: 350px;
  padding: 0;
}

/* container for todo list */
.container .todo {
  margin: 0 auto;
  padding: 0;
}

/* todo list */
.todo {
  position: relative;
  width: 350px;
  background: #FFF0F5;
  border: 2px dotted;
  border-color: #2184ac;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* before and after update todo list */
.todo:before,
.todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: white;
  border: 1px dotted #ccc;
  border-radius: 2px;
}

/* todo list after update */
.todo:after {
  bottom: -3px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* todo list before update */
.todo:before {
  bottom: -5px;
  left: 2px;
  right: 2px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before,
.lt-ie9 .todo:after {
  height: 1px;
  border-top: 0;
}

/* todo list */
.todo-list {
  border-top: 2px dotted #2184ac;
  list-style: none;
}

/* todo list before update */
.todo-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  width: 3px;
  z-index: 2;
  /*border: 1px solid #f2e3df;*/
  border-width: 0 1px;
}

/* todo list in listed ordered */
.todo-list li {
  position: relative;
  padding: 7px 15px 7px 5px;
  line-height: 21px;
  font-size: 13px;
  color: #787a80;
  border-bottom: 1px dotted #e6ebed;
}

/* toggle todo list */
.todo-list .toggle {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

/* todo list before toggle */
.todo-list .toggle:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}

/* hover effect before toggle  */
.todo-list .toggle:hover:before {
  -webkit-box-shadow: 0 0 3px #6bb3ca;
  box-shadow: 0 0 3px #6bb3ca;
}
