body {
  margin: -4px;
  padding: 0;
  overflow: hidden;
  margin-top: 6px;
  background: #D3D3D3;
  font-family: Bookman Old Style;
}

.editor {
  background: repeat;
  background-attachment: local;
  width: 520px;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  resize: both;
 
}

/*background for notes*/
#mnotes {
font-family: Bookman Old Style;
background: repeat;
background-image: url("background1.jpg");
background-size: cover;
background-attachment: local;
font-size: 18px;
line-height:20px;
width: 798px;
height: 440px;
padding: 8px;
overflow: scroll;
overflow-x: hidden;
margin-left:auto;
margin-right:auto;
resize:both;
 box-shadow: 
        inset 0px 20px 35px -10px #baeffe,
        inset 0px -20px 35px -10px #baeffe;

}


#mnotes:empty:not(:focus):before {
  content: attr(data-placeholder);
}




.toolbar{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,40px));
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    grid-gap: 10px;
    padding: 5px;
    justify-content: center;
    align-items:center;
}

.tool-items{
    background-color:#F0F8FF;
     padding-top: .6rem;
     padding-bottom:.6rem;
    cursor: pointer;
    color:#000000;
  box-shadow: 1px 1px 2px black;
  transition:0.3s;
}

.tool-items:hover{
    box-shadow: none;
    color: #ffff;
  background-color:#483329;
  transition:0.3s;

}

#wrapper {
	position: relative;
	float: left;
	width: 150px;
	height: 24px;
	background: rgba(255,255,255,1.0);
}
